<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ChoroplethMap</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "map/css/leaflet.css" %}" />
    <link rel="stylesheet" href="{% static "map/css/MarkerCluster.css" %}" />
    <link rel="stylesheet" href="{% static "map/css/MarkerCluster.Default.css" %}" />
    <link rel="stylesheet" href="{% static "map/css/leaflet_sidebar.css" %}" />
    <link rel="stylesheet" href="{% static "map/css/choropleth_map.css" %}" />
    <link rel="stylesheet" href="{% static "map/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "map/css/font_awesome.min.css" %}" />

    <script src="{% static "map/js/jquery.min.js" %}"></script>
	<script src="{% static "map/js/leaflet_src.js" %}"></script>
	<script src="{% static "map/js/leaflet_baidu.js" %}"></script>
    <script src="{% static "map/js/baiduMapAPI_2.0_min.js" %}"></script>
    <script src="{% static "map/js/leaflet.markercluster_src.js" %}"></script>
    <script src="{% static "map/js/leaflet_sidebar.js" %}"></script>

    <script type="javascript">window.BMAP_AUTHENTIC_KEY = "148ba719517de5b636685962d779d367";</script>
</head>
<body>
    <div id="map"></div>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
                <li><a href="https://github.com/Turbo87/sidebar-v2" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    sidebar-v2
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>

                <p>A responsive sidebar for mapping libraries like <a href="http://leafletjs.com/">Leaflet</a> or <a href="http://openlayers.org/">OpenLayers</a>.</p>

                <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="messages">
                <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>
        </div>
    </div>
<script>
            var options = {
                  crs: L.CRS.EPSGB3857,
                  center: [40.2, 116.402831],
                  zoom: 10
            };

            var baseMaps = {
                  Normal: new L.TileLayer.BaiduLayer("Normal.Map"),
                  satellite: new L.TileLayer.BaiduLayer("Satellite.Map"),
                  road: new L.TileLayer.BaiduLayer("Satellite.Road"),
                  cnormal: new L.TileLayer.BaiduLayer("CustomStyle.Map.normal"),
                  light: new L.TileLayer.BaiduLayer("CustomStyle.Map.light"),
                  dark: new L.TileLayer.BaiduLayer("CustomStyle.Map.dark"),
                  redalert: new L.TileLayer.BaiduLayer("CustomStyle.Map.redalert"),
                  googlelite: new L.TileLayer.BaiduLayer("CustomStyle.Map.googlelite"),
                  grassgreen: new L.TileLayer.BaiduLayer("CustomStyle.Map.grassgreen"),
                  midnight: new L.TileLayer.BaiduLayer("CustomStyle.Map.midnight"),
                  pink: new L.TileLayer.BaiduLayer("CustomStyle.Map.pink"),
                  darkgreen: new L.TileLayer.BaiduLayer("CustomStyle.Map.darkgreen"),
                  bluish: new L.TileLayer.BaiduLayer("CustomStyle.Map.bluish"),
                  grayscale: new L.TileLayer.BaiduLayer("CustomStyle.Map.grayscale"),
                  hardedge: new L.TileLayer.BaiduLayer("CustomStyle.Map.hardedge"),
                  mysytle: new L.TileLayer.BaiduLayer("CustomStyle.Map", {styles: 't%3Abuilding%7Ce%3Ag%7Cc%3A%23cccccc%2Ct%3Aroad%7Ce%3Aall%7Cc%3A%23999999%2Ct%3Aland%7Ce%3Aall%7Cc%3A%2376a5af%2Ct%3Agreen%7Ce%3Aall%7Cc%3A%236aa84f%2Ct%3Amanmade%7Ce%3Aall%7Cc%3A%23eeeeee%2Ct%3Aboundary%7Ce%3Aall%7Cc%3A%23444444'})
            };

            options.layers = [baseMaps.Normal];
            var map = L.map("map", options);
            L.control.layers(baseMaps).addTo(map);

            // add sidebar to the left
            var sidebar = L.control.sidebar('sidebar');
            map.addControl(sidebar);

            // Add GeoJSON
            geojson = {{ geojson|safe }};
            grades = {{ stages|safe }};
            L.geoJson(geojson, {
                style: function style(feature) {
                    return {
                        fillColor: getColor(feature.properties.avg_roi, grades),
                        weight: 1,
                        color: 'white',
                        fillOpacity: 0.7
                    };
                },
                onEachFeature: function (feature, layer) {
                  layer.bindPopup(feature.properties.name + ": " + feature.properties.avg_roi);
                  layer.on({
                    click: function(event){
                        // update sidebar content when boundary update
                    }
                  });
                }
            }).addTo(map);

            // Add legend
            var legend = L.control({position: 'bottomright'});
            legend.onAdd = function (map) {
                var div = L.DomUtil.create('div', 'info legend'),
                grades = {{ stages|safe }},
                labels = [];

                // loop through our density intervals and generate a label with a colored square for each interval
                for (var i = 0; i < grades.length; i++) {
                    div.innerHTML +=
                        '<li style="background-color:' + getColor(grades[i] + 1, grades) + '"></li> ' +
                        grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
                }
                return div;
            }
            legend.addTo(map);

            // Build clusters
            var markers = L.markerClusterGroup();
            var markerList = [];
            var raw = [{% for item in rois  %}[{{ item.0 }}, {{ item.1 }}, "{{ item.2 }}"],{% endfor %}];
            for (var i = 0; i < raw.length; i++) {
                var a = raw[i];
                var roi_id = a[2];
                var marker = L.marker(L.latLng(a[0], a[1]), {title: roi_id});
                marker.bindPopup("Loading...");

                // click event when point was clicked
                marker.on('click', function (e) {
                    var popup = e.target.getPopup();
                    $.ajax({
                        type: "GET",
                        url: "../api/point_detail?roi_id=" + String(e.target.options.title),
                        success : function(json) {
                            popup.setContent($(L.HTMLUtils.buildTable(json)).wrap('<div/>').parent().html());
                            popup.update();
						},
						error: function(){
						    popup.setContent("<p>Query failed!</p>");
                            popup.update();
						}
                    });
                });

                markerList.push(marker);
            }

            markers.addLayers(markerList);
            map.addLayer(markers);

            // get color according to average roi
            function getColor(roi, grades) {
                return roi > grades[7] ? '#800026' :
                       roi > grades[6]  ? '#BD0026' :
                       roi > grades[5]  ? '#E31A1C' :
                       roi > grades[4]  ? '#FC4E2A' :
                       roi > grades[3]   ? '#FD8D3C' :
                       roi > grades[2]   ? '#FEB24C' :
                       roi > grades[1]   ? '#FED976' : '#FFEDA0';
            }

             L.HTMLUtils = {
                    buildTable: function (obj, className, ignoreFields) {
                    className = className || 'table table-condensed table-striped table-bordered';

                    var fragment = document.createDocumentFragment();
                    var table = L.DomUtil.create('table', className, fragment);
                    var thead = L.DomUtil.create('thead', '', table);
                    var tbody = L.DomUtil.create('tbody', '', table);

                    var thead_tr = L.DomUtil.create('tr', '', thead);
                    var thead_values = ['Name','Value'];
                    for (var i = 0, l = thead_values.length; i < l; i++) {
                        var thead_th = L.DomUtil.create('th', '', thead_tr);
                        thead_th.innerHTML = thead_values[i];
                    }

                    ignoreFields = ignoreFields || [];

                    function inArray(arrayObj, value) {
                        for (var i = 0, l = arrayObj.length; i < l; i++) {
                            if (arrayObj[i] === value) {
                                return true;
                            }
                        }
                        return false;
                    }

                    for (var property in obj) {
                        if (obj.hasOwnProperty(property) && !inArray(ignoreFields, property)) {
                            var value = obj[property];
                            if (typeof value === 'object') {
                                var container = document.createElement('div');
                                container.appendChild(L.HTMLUtils.buildTable(value, className, ignoreFields));
                                value = container.innerHTML;
                            }

                            var tbody_tr = L.DomUtil.create('tr', '', tbody);
                            var tbody_values = [property, value];
                            for (i = 0, l = tbody_values.length; i < l; i++) {
                                var tbody_td = L.DomUtil.create('td', '', tbody_tr);
                                tbody_td.innerHTML = tbody_values[i];
                            }
                        }
                    }

                    return table;
                }
            };

</script>
</body>
</html>
