<!DOCTYPE html>
<html>
<head>
	<title>ClusterMap</title>

    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "map/css/leaflet.css" %}" />
    <link rel="stylesheet" href="{% static "map/css/MarkerCluster.css" %}" />
    <link rel="stylesheet" href="{% static "map/css/MarkerCluster.Default.css" %}" />

    <script src="{% static "map/js/leaflet_src.js" %}"></script>
    <script src="{% static "map/js/leaflet.markercluster_src.js" %}"></script>
    <script src="{% static "map/js/leaflet_baidu.js" %}"></script>
    <script src="{% static "map/js/baiduMapAPI_2.0_min.js" %}"></script>
    <script type="javascript">window.BMAP_AUTHENTIC_KEY = "148ba719517de5b636685962d779d367";</script>
</head>
<style>
    html, body {
      height: 100%;
      margin: 0;
    }

	#map {
		width: 100%;
		height: 100%;
	}

    #progress {
        display: none;
        position: absolute;
        z-index: 1000;
        left: 45%;
        top: 50%;
        width: 30%;
        height: 20px;
        margin-top: -20px;
        margin-left: -100px;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 4px;
        padding: 2px;
    }

    #progress-bar {
        width: 0;
        height: 100%;
        background-color: #76A6FC;
        border-radius: 4px;
    }
</style>
<body>
    <div id="progress"><div id="progress-bar"></div></div>
	<div id="map"></div>
	<script type="text/javascript">
        var options = {
              crs: L.CRS.EPSGB3857,
              center: [39.928879, 116.402831],
              zoom: 10
        };

        var baseMaps = {
              Normal: new L.TileLayer.BaiduLayer("Normal.Map"),
              satellite: new L.TileLayer.BaiduLayer("Satellite.Map"),
              road: new L.TileLayer.BaiduLayer("Satellite.Road"),
              cnormal: new L.TileLayer.BaiduLayer("CustomStyle.Map.normal"),
              light: new L.TileLayer.BaiduLayer("CustomStyle.Map.light"),
              dark: new L.TileLayer.BaiduLayer("CustomStyle.Map.dark"),
              redalert: new L.TileLayer.BaiduLayer("CustomStyle.Map.redalert"),
              googlelite: new L.TileLayer.BaiduLayer("CustomStyle.Map.googlelite"),
              grassgreen: new L.TileLayer.BaiduLayer("CustomStyle.Map.grassgreen"),
              midnight: new L.TileLayer.BaiduLayer("CustomStyle.Map.midnight"),
              pink: new L.TileLayer.BaiduLayer("CustomStyle.Map.pink"),
              darkgreen: new L.TileLayer.BaiduLayer("CustomStyle.Map.darkgreen"),
              bluish: new L.TileLayer.BaiduLayer("CustomStyle.Map.bluish"),
              grayscale: new L.TileLayer.BaiduLayer("CustomStyle.Map.grayscale"),
              hardedge: new L.TileLayer.BaiduLayer("CustomStyle.Map.hardedge"),
              mysytle: new L.TileLayer.BaiduLayer("CustomStyle.Map", {styles: 't%3Abuilding%7Ce%3Ag%7Cc%3A%23cccccc%2Ct%3Aroad%7Ce%3Aall%7Cc%3A%23999999%2Ct%3Aland%7Ce%3Aall%7Cc%3A%2376a5af%2Ct%3Agreen%7Ce%3Aall%7Cc%3A%236aa84f%2Ct%3Amanmade%7Ce%3Aall%7Cc%3A%23eeeeee%2Ct%3Aboundary%7Ce%3Aall%7Cc%3A%23444444'})
        };

        options.layers = [baseMaps.Normal];
        var map = L.map("map", options);

        L.control.layers(baseMaps).addTo(map);

        var progress = document.getElementById('progress');
		var progressBar = document.getElementById('progress-bar');

		function updateProgressBar(processed, total, elapsed, layersArray) {
			if (elapsed > 1000) {
				// if it takes more than a second to load, display the progress bar:
				progress.style.display = 'block';
				progressBar.style.width = Math.round(processed/total*100) + '%';
			}

			if (processed === total) {
				// all markers processed - hide the progress bar:
				progress.style.display = 'none';
			}
		}

        var markers = L.markerClusterGroup({ chunkedLoading: true, chunkProgress: updateProgressBar });

		var markerList = [];

		//console.log('start creating markers: ' + window.performance.now());

		var raw = [{% for item in datas  %}[{{ item.0 }}, {{ item.1 }}, "{{ item.2 }}"],{% endfor %}];

		for (var i = 0; i < raw.length; i++) {
			var a = raw[i];
			var title = a[2];
			var marker = L.marker(L.latLng(a[0], a[1]), { title: title });
			marker.bindPopup(title);
			markerList.push(marker);
		}

		console.log('start clustering: ' + window.performance.now());

		markers.addLayers(markerList);
		map.addLayer(markers);

		console.log('end clustering: ' + window.performance.now());
	</script>
</body>
</html>
